.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;

  max-width: 1100px;
  margin: 20px auto;
  padding: 0 40px;

  color: #3E2C23;
}

.home-text {
  flex: 1; 
}

.home-text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 600;
  color: #3B2F2F;
  margin-bottom: 20px;
}

.home-text p {
  font-size: 1.05rem;
  line-height: 1.8;
  color: #4A3F35;
  margin-bottom: 18px;
}

.home-text .intro {
  font-size: 1.1rem;
  font-weight: 500;
  color: #5A4634;
}

.home-image {
  flex: 0.8;
  display: flex;
  justify-content: center;
}

.home-image img {
  width: 100%;
  max-width: 320px;

  border-radius: 12px;
  border: 2px solid #C08457;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);

  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.home-image img:hover {
  transform:scale(1.05);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.18);
}

.animated-text {
  opacity: 0;
  transform: translateY(24px);
  animation: fadeSlideIn 0.9s ease-out forwards;
  animation-delay: 0.25s;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* === RESPONSIVE === */
@media (max-width: 900px) {
  .home {
    flex-direction: column-reverse;  /*so image will be above now*/
    gap: 50px;
    margin: 100px auto;
  }

  .home-text h1 {
    font-size: 2rem;
    text-align: center;
  }

  .home-text p {
    font-size: 1rem;
  }
}
